/* General Styles */
* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  box-sizing: border-box;
}

.topic {
  margin-top: 6%;
  
  width: 100%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
}

.sign {
  color: rgb(0, 0, 0);
  font-size: 10px;
}

/* Navbar */
.navbar {
  padding: 0;
}

.navbar-brand {
  margin-right: 60px;
  margin-left: 20px;
}

.nav-item {
  font-size: 16px;
  padding-left: 13px;
  padding-right: 13px;
}

/* Home Component */
.home-container {
  width: 100%;
}

.row {
  width: 95%;
  margin: auto;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-color: transparent;
}

.col-6,
.col-lg-3,
.mb-3 {
  padding: 0 !important;
  margin: 0 !important;
}
/* Additional Styles */
#toolbar-gradient {
  border-radius: 10px;
  color: #fff;
}

.custom-wrapper {
  overflow: hidden;
  height: 55vh;
  width: 100%;
}

/* Desktop styles */
@media (min-width: 768px) {
  .custom-wrapper {
    border-radius: 15px;
    width: 80%;
    height: 55vh;
    margin: 0 auto; /* Center the div horizontally */
  }
}

/* Mobile styles */
@media (max-width: 767px) {
  .custom-wrapper {
    width: 100%;
    height: 55vh;
  }
}

/* Styling for the scrollbar in Webkit browsers */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px; /* Rounded corners for the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #b78ffa; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9a5cc8; /* Darker color when hovered */
  width: 1px;
}

/* Optional: Styling for other browsers */
.custom-scrollbar {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #b78ffa #f1f1f1; /* Thumb and track color */
}

.searchbar {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.go-button {
  height: 25%;
  width: 15%;
  position: absolute;
  top: 75%;
  right: 10px;
  transform: translateY(-50%);
  background-color: #b78ffa;
  color: white;
  border: none;
  padding-top: 5px;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.country-cards-container {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  margin: 125px 0;
  position: relative;
}

/* Default: 4x1 grid for screens larger than 1250px */
@media (min-width: 900px) {
  .country-cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* 2x2 grid for screens smaller than 1250px */
@media (max-width: 899px) {
  .country-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.country-card {
  width: 100%;
  max-width: 300px; /* Adjust max-width as per your preference */
  aspect-ratio: 1 / 1.2; /* Fixed aspect ratio */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  /* align-items: center; */
  /* padding: 30px; */
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
  /* background: linear-gradient(135deg, #7b2ff7, #f107a3); */
  background-color: #89a9a9;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: rgb(28, 28, 28);
  text-align: center;
  transition: transform 0.1s ease;
}

.country-card-expanded {
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);
  padding: 30px;
  background: linear-gradient(90deg, #7b2ff7, #f107a3);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  color: white;
  max-width: 70vh;
  max-height: 70vh;
  width: 100%;
  aspect-ratio: 1 / 1.2;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card-image {
  width: 100%;
  height: calc(0.5 * 100%); /* Top 50% for the image */
  object-fit: cover;
}

.card-content {
  padding: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-subtitle {
  font-size: 14px;
  margin-bottom: 5px;
}

.card-title {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}

.close-button {
  position: absolute;
  top: 0;
  right: 85%;
  background: none;
  height: 20%;
  width: 15%;
  border: none;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.country-card:hover {
  transform: scale(1.05);
}

.window {
  height: 300px;
  width: 100%;
  border-radius: 10px;
  background: white;
  overflow: hidden;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  display: flex;
  flex-direction: column;
}

nav {
  background: #fdfdfd;
  padding: 5px 5px 0;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid #eeeeee;
  height: 44px;
}

.tabs {
  margin-bottom: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 128px;
  flex-grow: 1;
  user-select: none;
}

li.selected {
  background: #130202;
}

ul,
li {
  border-radius: 20px;
  position: relative;
  text-align: center;
  align-self: center;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  height: 100%;
  cursor: pointer;
}

.bad {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  padding: 10px 15px;
  position: relative;
  background: white;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  min-width: 0;
  position: relative;
  user-select: none;
}

ul {
  height: 60px;
  display: flex;
  width: 100%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}

.add-item {
  width: 30px;
  height: 30px;
  background: #eee;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  align-self: center;
}

.add-item:disabled {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

.main-content {
  width: 100%;
  aspect-ratio: 2 / 1;
}
