# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

../node_modules
node_modules
dist
dist-ssr
*.local
/src/firebaseConfig.js
../firebase.json
vite.config.js
../database.rules.json
../firestore.rules
../serviceAccountKey.json
../setAdminClaims.js
../storage.rules
../upload_data/serviceAccountKey.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
